In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import time

In [2]:
df = pd.read_csv('Churn_Modelling.csv', delimiter=',')
df.shape

(10000, 14)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)

In [5]:
df.head(7)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0

In [6]:
X=df.drop(["Exited"],axis=1)
X.head()
Y=df["Exited"]

In [7]:
categories = ['Geography', 'Gender']
for i in categories:
    for j in X[i].unique():
        X[i+'-'+j] = np.where(X[i] == j,1,0)
X = X.drop(categories, axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography-France,Geography-Spain,Geography-Germany,Gender-Female,Gender-Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0,1,0

In [8]:
X['TenureByAge'] = X.Tenure/(X.Age)
X['CreditScoreGivenAge'] = X.CreditScore/(X.Age)
X['BalanceSalaryRatio'] = X.Balance/X.EstimatedSalary
X.loc[X.HasCrCard == 0, 'HasCrCard'] = -1
X.loc[X.IsActiveMember == 0, 'IsActiveMember'] = -1
X=X.drop(["CreditScore","Balance","Age","EstimatedSalary"],axis=1)
X.head()

,Tenure,NumOfProducts,HasCrCard,IsActiveMember,Geography-France,Geography-Spain,Geography-Germany,Gender-Female,Gender-Male,TenureByAge,CreditScoreGivenAge,BalanceSalaryRatio
0,2,1,1,1,1,0,0,1,0,0.047619,14.738095,0.000000
1,1,1,-1,1,0,1,0,1,0,0.024390,14.829268,0.744677
2,8,3,1,-1,1,0,0,1,0,0.190476,11.952381,1.401375
3,1,2,-1,-1,1,0,0,1,0,0.025641,17.923077,0.000000
4,2,1,1,1,0,1,0,1,0,0.046512,19.767442,1.587055

In [9]:
X.columns

Index(['Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'Geography-France', 'Geography-Spain', 'Geography-Germany',
       'Gender-Female', 'Gender-Male', 'TenureByAge', 'CreditScoreGivenAge',
       'BalanceSalaryRatio'],
      dtype='object')

In [10]:
x_cols=['Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'Geography-France', 'Geography-Spain', 'Geography-Germany',
       'Gender-Female', 'Gender-Male', 'TenureByAge', 'CreditScoreGivenAge',
       'BalanceSalaryRatio']
Y=np.array(Y)
Y=Y.reshape(-1,1)
std_scaler = StandardScaler()
X = std_scaler.fit_transform(X[x_cols].iloc[:,range(0,12)].values)

In [11]:
x_train,x_test,y_train,y_test = train_test_split(X, Y, train_size = .8)

In [42]:

    def initialize_parameters_deep(layer_dims):
        np.random.seed(3)
        parameters = {}
        L = len(layer_dims)  

        for l in range(1, L):
            parameters['W' + str(l)] = np.random.randn(layer_dims[l - 1],layer_dims[l]) * 0.1
            parameters['b' + str(l)] = np.zeros((layer_dims[l], 1))



        return parameters

    def sigmoid(Z):
        A = 1/(1 + np.exp(-Z))
        cache = Z
    
        return A, cache

    def relu(Z):
        A = np.maximum(0, Z)
        cache = Z
    
        return A, cache
    
    def linear_forward(A_prev, W, b):
        Z = A_prev.dot(W)
        #Z = Z + b
        cache = (A_prev, W, b)

        return Z, cache


    def linear_activation_forward(A_prev, W, b, activation):
        if activation == "sigmoid":
            Z, linear_cache = linear_forward(A_prev, W, b)
            A, activation_cache = sigmoid(Z)

        elif activation == "relu":
            Z, linear_cache = linear_forward(A_prev, W, b)
            A, activation_cache = relu(Z)

        cache = (linear_cache, activation_cache)

        return A, cache


    def L_model_forward(X, parameters):
        A = X
        caches = []
        L = len(parameters) // 2

        for l in range(1, L):
            A_prev = A

            A, cache = linear_activation_forward(
                A_prev, parameters["W" + str(l)], parameters["b" + str(l)], "relu")
            caches.append(cache)

        AL, cache = linear_activation_forward(
            A, parameters["W" + str(L)], parameters["b" + str(L)], "sigmoid")
        caches.append(cache)

        return AL, caches
    
    def compute_cost(AL, Y):
        m = Y.shape[1]
        cost = -(np.sum(Y * np.log(AL) + (1.0 - Y) * np.log(1.0 - AL))) / m
        cost = np.squeeze(cost)

        return cost

    def sigmoid_backward(dA, cache):
        Z = cache
        s = 1/(1 + np.exp(-Z))
        dZ = dA * s * (1-s)

        return dZ
  
    def relu_backward(dA, cache):
        Z = cache
        dZ = np.array(dA, copy=True) 
        dZ[Z <= 0] = 0

        return dZ
    def linear_backward(dZ, cache):
        A_prev, W, b = cache
        m = A_prev.shape[0]
        dW = np.dot( A_prev.T,dZ) / m
        db = np.sum(dZ, axis=1, keepdims=True) / m
        dA_prev = np.dot(dZ,W.T)

        return dA_prev, dW, db

    def linear_activation_backward(dA, cache, activation):
        linear_cache, activation_cache = cache

        if activation == "relu":
            dZ = relu_backward(dA, activation_cache)
            dA_prev, dW, db = linear_backward(dZ, linear_cache)
        elif activation == "sigmoid":
            dZ = sigmoid_backward(dA, activation_cache)
            dA_prev, dW, db = linear_backward(dZ, linear_cache)

        return dA_prev, dW, db
    
    def L_model_backward(AL, Y, caches):
        grads = {}
        L = len(caches) 
        Y = Y.reshape(AL.shape)

        dAL = - (np.divide(Y, AL) - np.divide(1 - Y, 1 - AL))

        current_cache = caches[L - 1]
        dA_prev_temp, dW_temp, db_temp = linear_activation_backward(dAL, current_cache, "sigmoid")
        grads["dA" + str(L-1)] = dA_prev_temp
        grads["dW" + str(L)] = dW_temp
        grads["db" + str(L)] = db_temp

        for l in range(L-2,-1,-1):
            current_cache = caches[l]
            dA_prev_temp, dW_temp, db_temp = linear_activation_backward(
                grads["dA" + str(l + 1)], current_cache, "relu")
            grads["dA" + str(l)] = dA_prev_temp
            grads["dW" + str(l + 1)] = dW_temp
            grads["db" + str(l + 1)] = db_temp

        return grads

    def update_parameters(params, grads, learning_rate):
        parameters = params.copy()
        L = len(parameters) // 2 
        for l in range(L):
            parameters["W" + str(l+1)] = parameters["W" + str(l+1)] - learning_rate * grads["dW" + str(l + 1)]
            #parameters["b" + str(l+1)] = parameters["b" + str(l+1)] - learning_rate * grads["db" + str(l + 1)]
            #print(grads["db" + str(l+1)].shape)

        return parameters
    
    def L_layer_model( X, Y, layers_dims, learning_rate=0.1, num_iterations = 20000, print_cost = True):
        np.random.seed(1)
        costs = []                        

        parameters = initialize_parameters_deep(layers_dims)

        for i in range(0, num_iterations):
            AL, caches = L_model_forward(X, parameters)
            cost = compute_cost(AL, Y)
            grads = L_model_backward(AL, Y, caches)
            parameters = update_parameters(parameters, grads, learning_rate)

            if i % 3000 == 0:
                learning_rate = learning_rate / 2

            if print_cost and i % 100 == 0 or i == num_iterations - 1:
                print("Cost after iteration {}: {}".format(i, np.squeeze(cost)))
            if i % 100 == 0 or i == num_iterations:
                costs.append(cost)

        return parameters, costs

    #parameters, costs = L_layer_model(train_set_x, y_train, layers_dims = [3072, 5, 5, 1], learning_rate = 0.2, num_iterations=10000, print_cost=True)

    def accuracy_score(Y,Y_pred):
        tp,tn,fp,fn = 0,0,0,0
        for i in range(len(Y)):
            if Y[i] == 1 and Y_pred[i] == 1:
                tp += 1
            elif Y[i] == 1 and Y_pred[i] == 0:
                fn += 1
            elif Y[i] == 0 and Y_pred[i] == 1:
                fp += 1
            elif Y[i] == 0 and Y_pred[i] == 0:
                tn += 1
        accuracy=(tp+tn)/(tp+tn+fp+fn)
        return accuracy

    def predict(X, y, parameters):
        m = X.shape[0]
        n = len(parameters) // 2 
        p = np.zeros((1, m))

        probas, caches = L_model_forward(X, parameters)

        for i in range(0, probas.shape[1]):
            if probas[0, i] > 0.5:
                p[0, i] = 1
            else:
                p[0, i] = 0
        #print("Accuracy: " + str(np.sum((p == y)/m)))

        return p

    #pred_train = predict(test_set_x, y_test, parameters)
    #pred_test = predict(train_set_x, y_train, parameters)

In [40]:
parameters, costs = L_layer_model(x_train, y_train, layers_dims = [12, 6, 1], learning_rate = 0.2, num_iterations=10000, print_cost=True)

Cost after iteration 0: 5693.617767174879
Cost after iteration 100: 4205.14301133819
Cost after iteration 200: 3688.4671393011895
Cost after iteration 300: 3590.540594015706
Cost after iteration 400: 3554.21196564131
Cost after iteration 500: 3533.0451264141016
Cost after iteration 600: 3519.0004461067247
Cost after iteration 700: 3509.050571616688
Cost after iteration 800: 3501.5884400021155
Cost after iteration 900: 3494.223605622095
Cost after iteration 1000: 3487.042483030907
Cost after iteration 1100: 3481.3515502847576
Cost after iteration 1200: 3476.3830859064346
Cost after iteration 1300: 3472.0380656701436
Cost after iteration 1400: 3468.0604247194306
Cost after iteration 1500: 3464.125502492674
Cost after iteration 1600: 3460.727090404779
Cost after iteration 1700: 3457.720112615702
Cost after iteration 1800: 3455.4371735907525
Cost after iteration 1900: 3453.478796861684
Cost after iteration 2000: 3451.70173453861
Cost after iteration 2100: 3450.0908242210653
Cost after iteration 2200: 3448.6546036526915
Cost after iteration 2300: 3447.4164015247075
Cost after iteration 2400: 3446.348288172955
Cost after iteration 2500: 3445.300366898561
Cost after iteration 2600: 3444.3456395989842
Cost after iteration 2700: 3443.4958866227926
Cost after iteration 2800: 3442.5314596011863
Cost after iteration 2900: 3441.6007763889497
Cost after iteration 3000: 3440.8783769708953
Cost after iteration 3100: 3440.5456264005916
Cost after iteration 3200: 3440.23074613127
Cost after iteration 3300: 3439.949273080304
Cost after iteration 3400: 3439.6838489219745
Cost after iteration 3500: 3439.4399125909076
Cost after iteration 3600: 3439.2011574500452
Cost after iteration 3700: 3438.970529701975
Cost after iteration 3800: 3438.7536276035794
Cost after iteration 3900: 3438.5541930583863
Cost after iteration 4000: 3438.362739990655
Cost after iteration 4100: 3438.1713155838797
Cost after iteration 4200: 3437.9850564771077
Cost after iteration 4300: 3437.805453078252
Cost after iteration 4400: 3437.6309872656834
Cost after iteration 4500: 3437.462889508401
Cost after iteration 4600: 3437.298753224604
Cost after iteration 4700: 3437.134713844158
Cost after iteration 4800: 3436.9711856835047
Cost after iteration 4900: 3436.8154843313296
Cost after iteration 5000: 3436.6652513419112
Cost after iteration 5100: 3436.5310288387736
Cost after iteration 5200: 3436.3989219848845
Cost after iteration 5300: 3436.268062235087
Cost after iteration 5400: 3436.1427460226787
Cost after iteration 5500: 3436.019074517157
Cost after iteration 5600: 3435.8959492392573
Cost after iteration 5700: 3435.7808307005134
Cost after iteration 5800: 3435.667645543559
Cost after iteration 5900: 3435.5596184152137
Cost after iteration 6000: 3435.456344459663
Cost after iteration 6100: 3435.4031592794126
Cost after iteration 6200: 3435.3489439332843
Cost after iteration 6300: 3435.2945633839504
Cost after iteration 6400: 3435.243652725365
Cost after iteration 6500: 3435.1953254871714
Cost after iteration 6600: 3435.1497208436185
Cost after iteration 6700: 3435.1050696499324
Cost after iteration 6800: 3435.0567032868357
Cost after iteration 6900: 3435.007664889893
Cost after iteration 7000: 3434.960305865856
Cost after iteration 7100: 3434.9101421145842
Cost after iteration 7200: 3434.860425179607
Cost after iteration 7300: 3434.8100597350326
Cost after iteration 7400: 3434.7588364598487
Cost after iteration 7500: 3434.705961013444
Cost after iteration 7600: 3434.651047655848
Cost after iteration 7700: 3434.5964171304927
Cost after iteration 7800: 3434.5459853221255
Cost after iteration 7900: 3434.5026010913034
Cost after iteration 8000: 3434.459731996674
Cost after iteration 8100: 3434.418140740801
Cost after iteration 8200: 3434.3786678507568
Cost after iteration 8300: 3434.344677820948
Cost after iteration 8400: 3434.312065850363
Cost after iteration 8500: 3434.280739284886
Cost after iteration 8600: 3434.25008699594
Cost after iteration 8700: 3434.2195964359844
Cost after iteration 8800: 3434.1894460818044
Cost after iteration 8900: 3434.159988710825
Cost after iteration 9000: 3434.131564575041
Cost after iteration 9100: 3434.117374541828
Cost after iteration 9200: 3434.103428571448
Cost after iteration 9300: 3434.089015348471
Cost after iteration 9400: 3434.0753036953865
Cost after iteration 9500: 3434.0620666800123
Cost after iteration 9600: 3434.0485151720013
Cost after iteration 9700: 3434.035029860877
Cost after iteration 9800: 3434.020769624984
Cost after iteration 9900: 3434.005683350568
Cost after iteration 9999: 3433.99026755891

In [49]:
pred_train = predict(x_test, y_test, parameters)
print(pred_train[0][15])
score = accuracy_score(y_test, pred_train[0])

0.0